package search

import "sensetion/go-fiber/views/shared/ui/input"

templ Search() {
	@input.Input(input.InputProps{
		PlaceholderText: "Найти новость",
		IMGSrc:          "/public/images/icons/search.svg",
		Type:            "text",
	})
}
