package registration

import "sensetion/go-fiber/views/app/layout"
import "sensetion/go-fiber/views/widgets/header"
import "sensetion/go-fiber/views/widgets/footer"
import "sensetion/go-fiber/views/widgets/mainTag"
import "sensetion/go-fiber/views/widgets/registerForm"

templ RegistrationPage() {
	@layout.Layout(layout.LayoutProps{
		Title:           "Страница регистрации",
		MetaDescription: "Сайт по поиску статей",
	}) {
		@header.Header()
		@mainTag.MainTag() {
			@registerForm.RegisterForm()
		}
		@footer.Footer()
	}
}
