package home

import (
	"sensetion/go-fiber/views/app/layout"
	"sensetion/go-fiber/views/features/posts"
	"sensetion/go-fiber/views/widgets/footer"
	"sensetion/go-fiber/views/widgets/header"
	"sensetion/go-fiber/views/widgets/mainTag"
)

templ HomePage() {
	@layout.Layout(layout.LayoutProps{
		Title:           "Статьи обо всем",
		MetaDescription: "Сайт по поиску статей",
	}) {
		@header.Header()
		@mainTag.MainTag() {
			@posts.HeroPosts()
			@posts.Posts(posts.PostsProps{
				IsPopular: true,
			})
		}
		@footer.Footer()
	}
}
